[Unit]
Description=Schedule Massar weekly full database backup

[Timer]
OnCalendar=Sun *-*-* 03:30:00 Africa/Cairo
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target
