ETCD_NAME=__NODE_ID__
ETCD_DATA_DIR=/var/lib/etcd/massar
ETCD_LISTEN_PEER_URLS=https://__OVERLAY_ADDRESS__:2380
ETCD_LISTEN_CLIENT_URLS=https://127.0.0.1:2379,https://__OVERLAY_ADDRESS__:2379
ETCD_INITIAL_ADVERTISE_PEER_URLS=https://__OVERLAY_ADDRESS__:2380
ETCD_ADVERTISE_CLIENT_URLS=https://__OVERLAY_ADDRESS__:2379
ETCD_INITIAL_CLUSTER=node-1=https://10.77.0.11:2380,node-2=https://10.77.0.12:2380,node-3=https://10.77.0.13:2380
ETCD_INITIAL_CLUSTER_STATE=new
ETCD_INITIAL_CLUSTER_TOKEN=massar-production-etcd-v1
ETCD_CLIENT_CERT_AUTH=false
ETCD_CERT_FILE=/etc/massar/pki/etcd/server.crt
ETCD_KEY_FILE=/etc/massar/pki/etcd/server.key
ETCD_PEER_CLIENT_CERT_AUTH=true
ETCD_PEER_TRUSTED_CA_FILE=/etc/massar/pki/etcd/ca.crt
ETCD_PEER_CERT_FILE=/etc/massar/pki/etcd/server.crt
ETCD_PEER_KEY_FILE=/etc/massar/pki/etcd/server.key
ETCD_AUTO_COMPACTION_MODE=periodic
ETCD_AUTO_COMPACTION_RETENTION=1h
ETCD_SNAPSHOT_COUNT=10000
ETCD_HEARTBEAT_INTERVAL=100
ETCD_ELECTION_TIMEOUT=1000
